@import "abstracts/variables";

@import "base/animations";
@import "base/reset";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/panel";

@import "layout/footer";
@import "layout/forms";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";

@import "pages/about";
@import "pages/grocery-list";
@import "pages/home";
@import "pages/menu";
@import "pages/recipes";
@import "pages/veg-shepherds-pie";