#recipe {
  display: flex;

  & .panel {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & img {
      flex: 1;
      max-height: 100%;
      object-fit: contain;
      width: auto;
    }

    & .description {
      flex: 1;
      height: auto;
      margin: auto;
      max-width: 100%;
    }
  }

}