//page level
#recipe {
  margin: 0 2rem;

  //img and desc wrapper 
  & .panel {
    display: flex;
    flex-direction: row;
    width: 100%;

    & .img {
      flex: 1;

      & img {
        height: 100%;
        max-width: 100%;
      }
    }

    & .description {
      flex: 1;
      max-height: 100%;
      margin: auto 0;
      // padding: 0 2rem;
      width: auto;
    }
  }

}