// #img-showcase {
//   & img {
//     display: block;
//     margin: auto;
//     padding-bottom: 3rem;
//   }
// }
#recipe-individual {


  background-color: $color-white-grey;
  border: 3px solid $color-grey-dark;
  margin: 3rem 8rem;
  padding: 0 8rem;

  & .recipe-description {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
}

.recipe-preparation {
  padding-bottom: 3rem;
}

.ingredient-list {
  padding-top: 1rem;
}

.recipe-directions {
  padding-bottom: 1rem;
}