#menu {
  margin: 5rem 12rem;

  & .grid {
    background-color: $color-white;
    border: 2px solid $color-grey-dark;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 33.334% 66.666%;
    padding: 3rem;

    & p {
      padding: .5rem;

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey;
      }
    }
  }
}