
#navbar {
  background-color: $color-grey-dark; 
  color: $color-white;
  padding-top: 2rem;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 2rem;
    width: 100%;
  }

  li {
    padding: 0 2rem;
  }

  a {
    border-radius: 5px;
    padding: 1rem 2rem;
    transition: all .3s;
  }

  li:hover  a {
    background-color: $color-primary;
    color: $color-white;
  }
}