.btn {
  border-radius: 5px;
  color: $color-white;

  &-white {
    background-color: $color-white;
    color: $color-grey;
  }

  &-primary {
    background-color: $color-primary;
  }

  &-group-main {
    padding-left: 16rem;
  }

  &-animated {
    animation: moveInBottom 3s;
    display: inline-block;
    margin: 2rem;
    opacity: .8;
    transition: all .2s;

    &:hover {
      box-shadow: 0 10px 20px rgba($color-black, .15);
      // color: $color-grey-dark;
      // opacity: 1;
    }
  }
}