.u-text-center {
  text-align: center;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-margin-large {
  padding: 5rem;
}
.u-margin-medium {
  padding: 3rem;
}
.u-margin-small {
  padding: 1rem;
}
.u-padding-large {
  padding: 5rem;
}
.u-padding-medium {
  padding: 3rem;
}
.u-padding-small {
  padding: 1rem;
}